<div class="section1 row pb-5 pt-5 app-open-db">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-xl-6 offset-xl-3">
    <div class="row content app-form shadow-lg mb-5">
      <div class="col-12 p-3 bg-theme">
        <span class="title text-white font-weight-bold">Unload Cases</span>
        <button class="pull-right text-white bg-theme border-0" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <i class="fa fa-times fa-2x"></i></button>
      </div>

      <div class="row mt-4 mx-0 w-100">
        <mat-form-field class="col-12">
          <mat-select placeholder="Record Source">
            <mat-option value="4.0">Microsoft HET OLED8 4.0</mat-option>
            <mat-option value="5.0">Microsoft HET OLED8 5.0</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row mt-4 mx-0 w-100">
        <mat-form-field class="col-10">
          <mat-select placeholder="Filter/Sub File">
            <mat-option value="4.0">Microsoft HET OLED8 4.0</mat-option>
            <mat-option value="5.0">Microsoft HET OLED8 5.0</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="col-2 mt-3">Basic</mat-checkbox>
      </div>

      <div class="row mt-4 mx-0 w-100">
        <mat-form-field class="col-10">
          <mat-select placeholder="Facility">
            <mat-option value="4.0">Microsoft HET OLED8 4.0</mat-option>
            <mat-option value="5.0">Microsoft HET OLED8 5.0</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="col-2 mt-3">All</mat-checkbox>
      </div>

      <mat-radio-group class="col-12 mt-3">
        <label class="mr-4">Level:</label>
        <mat-radio-button value="1" class="mr-5">Patient</mat-radio-button>
        <mat-radio-button value="2" class="mr-5">Tumor</mat-radio-button>
        <mat-radio-button value="3">Hospital</mat-radio-button>
      </mat-radio-group>

      <mat-form-field class="col-12 mt-3">
        <input matInput type="text" [(ngModel)]="outputfilename" placeholder="Output file name">
        <button mat-button *ngIf="outputfilename" matSuffix mat-icon-button aria-label="Clear" (click)="outputfilename=''">
          <mat-icon><span class="fa fa-times"></span></mat-icon>
        </button>
      </mat-form-field>

      <mat-checkbox class="col-12 mt-3">Print list of records written</mat-checkbox>

      <mat-checkbox class="col-12 mt-3">Compress output file</mat-checkbox>

      <mat-form-field class="col-12 mt-3">
        <input matInput type="password" [(ngModel)]="password" placeholder="Password">
        <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
          <mat-icon><span class="fa fa-times"></span></mat-icon>
        </button>
      </mat-form-field>

      <div class="col-12 text-right pb-5 mt-5 col-12">
        <button class="btn form-btn ml-3"><i class="fas fa-check mr-2 text-success"></i><u>O</u>K</button>
        <button class="btn form-btn ml-3"><i class="fas fa-times mr-2 text-danger"></i><u>C</u>ancel</button>
        <button class="btn form-btn ml-3 disabled"><i class="fas fa-question mr-2 text-info "></i><u>H</u>elp</button>
      </div>
    </div>
  </div>
</div>