<div class="app-menu-bar row">
    <div class="icon-block">
    <a href="#" class=""><i class="fas fa-folder "></i></a>    
    <a href="#" class=""><i class="fas fa-folder-open "></i></a>   
    <a href="#" class=""><i class="fas fa-times"></i></a> 
    <a href="#" class=""><i class="fas fa-check"></i></a>  
    <a href="#" class=""><i class="fas fa-print  "></i></a> 
    <a href="#" class=""><i class="fas fa-columns"></i></a>       
    <a href="#" class=""><i class="fas fa-print  "></i></a>         
    <a href="#" class=""><i class="fas fa-quote-left  "></i></a>   
    </div>    
    <div class="icon-block">
    <a href="#" class=""><i class="fas fa-graduation-cap "></i></a>       
    <a href="#" class=""><i class="fas fa-question"></i></a>       
    <a href="#" class=""><i class="fas fa-newspaper  "></i></a>       
    <a href="#" class=""><i class="fas fa-file-alt  "></i></a>   
    </div>   
    <div class="icon-block">
    <a href="#" class=""><i class="fas fa-envelope  "></i></a>       
    <a href="#" class=""><i class="fas fa-list  "></i></a>       
    <a href="#" class=""><i class="fas fa-clipboard-list  "></i></a>  
</div>     
<div class="icon-block">
    <a href="#" class=""><i class="fas fa-file-medical  "></i></a>       
    <a href="#" class=""><i class="fas fa-file-invoice  "></i></a>       
    <a href="#" class=""><i class="fas fa-file-signature  "></i></a>    
    </div>   
    <div class="icon-block">
    <a href="#" class=""><i class="fas fa-search  "></i></a>   
    </div>
    <div class="icon-block">
    <a href="#" class=""><i class="fas fa-camera "></i></a>       
    <a href="#" class=""><i class="fas fa-file-archive  "></i></a>       
    <a href="#" class=""><i class="fas fa-ambulance  "></i></a> 
    </div> 
    <div class="icon-block"> 
    <a href="#" class=""><i class="fas fa-hand-paper  "></i></a>       
    <a href="#" class=""><i class="fas fa-book-reader  "></i></a>       
    <a href="#" class=""><i class="fab fa-readme  "></i></a>       
    <a href="#" class=""><i class="fas fa-archive"></i></a>       
    <a href="#" class=""><i class="fas fa-window-restore  "></i></a>       
    <a href="#" class=""><i class="fas fa-copy"></i></a>       
    <a href="#" class=""><i class="fas fa-file  "></i></a>       
    </div>
</div>

<div class="row m-0">
  <div class="col-2 pt-2 px-0 pb-0" style="overflow-y: scroll;height: 90vh;background-color: white">
    <tree-root   [ngClass]="'expand-tree'"  [nodes]="nodes" [options]="options"></tree-root>
  </div>
  <div class="col p-0" style="overflow-y: auto;height: 90vh;">
    <ul class="nav nav-tabs pt-3 pl-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="abstract-tab" data-toggle="tab" href="#abstract" role="tab" aria-controls="abstract" aria-selected="true">Abstract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="editresolution-tab" data-toggle="tab" href="#editresolution" role="tab" aria-controls="editresolution" aria-selected="false">Editre Solution</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
        <app-list-view></app-list-view>
      </div>
      <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="edit-tab"><app-case-edit></app-case-edit></div>
      <div class="tab-pane fade" id="editresolution" role="tabpanel" aria-labelledby="editresolution-tab"><app-case-editre-solution></app-case-editre-solution></div>
    </div>
  </div>
</div>