<nav class="navbar navbar-expand-lg navbar-light bg-light p-0 app-header">
  <!-- <a class="navbar-brand" href="#" style="color: #800080;">CNExt</a> -->
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand app-logo" href="#">
      <img src="/assets/favicon.png" alt="CNExT" height="40" width="40" class="app-logo-img"/>
      <span class="app-logo-text">CNExT</span>
    </a>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav pull-right">
      <li class="nav-item active">
        <button mat-button [matMenuTriggerFor]="mfile" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">File</button>

        <mat-menu #mfile="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item class="border-0">New Database</button>
          <button mat-menu-item [routerLink]="['/open-database']" routerLinkActive="router-link-active">Open Database</button>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="importm">Import</button>
          <button mat-menu-item [matMenuTriggerFor]="exportm">Export</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Sign Out</button>
        </mat-menu>

        <mat-menu #importm="matMenu" parentMenu="mfile">
          <button mat-menu-item [routerLink]="['/import-cases']" routerLinkActive="router-link-active">Import Cases...</button>
          <button mat-menu-item>Case Reply</button>
          <button mat-menu-item>Shared Follow-Up...</button>
          <button mat-menu-item>Reload</button>
          <button mat-menu-item>FCDS</button>
        </mat-menu>

        <mat-menu #exportm="matMenu">
          <button mat-menu-item [routerLink]="['transmit-cases']" routerLinkActive="router-link-active">Transmit Cases...</button>
          <button mat-menu-item>Export Cases...</button>
          <button mat-menu-item>Retransmit Cases...</button>
          <button mat-menu-item>Call for Data</button>
          <button mat-menu-item>RQRS</button>
          <button mat-menu-item>Backup Most Recent...</button>
          <button mat-menu-item>Upload Cases</button>
          <button mat-menu-item>Unload</button>
          <button mat-menu-item>Survivorship</button>
        </mat-menu>
      </li>
      <li class="nav-item">
          <button mat-button [matMenuTriggerFor]="mcase" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Case</button>
  
          <mat-menu #mcase="matMenu" overlapTrigger="false" class="mat-elevation-z4">
            <button mat-menu-item>New Case</button>
            <button mat-menu-item>Update Case</button>
            <button mat-menu-item [routerLink]="['/view-find']" routerLinkActive="router-link-active" >View Case</button>
            <button mat-menu-item>Print Case</button>
            <button mat-menu-item>Delete Case</button>
          </mat-menu>
        </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mcasefinding" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Casefinding</button>

        <mat-menu #mcasefinding="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item [routerLink]="['/cas-import']" routerLinkActive="router-link-active">Import</button>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="reports">Reports</button>
          <button mat-menu-item [matMenuTriggerFor]="managefilters">Manage Filters</button>
          <mat-divider></mat-divider>
          <button mat-menu-item [matMenuTriggerFor]="clearqueue">Clear Queue</button>
          <mat-divider></mat-divider>
          <button mat-menu-item>Options</button>
        </mat-menu>

        <mat-menu #reports="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #managefilters="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #clearqueue="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mfollowup" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Follow-Up</button>

        <mat-menu #mfollowup="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item class="text-muted">Add</button>
          <button mat-menu-item class="text-muted">Tabulate</button>
          <button mat-menu-item [routerLink]="['/control-list']" routerLinkActive="router-link-active">Control List...</button>
          <button mat-menu-item>Worksheet...</button>
          <button mat-menu-item>Delinquent List...</button>
          <button mat-menu-item [matMenuTriggerFor]="filteredresource">Filtered Resource</button>
          <button mat-menu-item [matMenuTriggerFor]="letterslabels">Letters/Labels</button>
          <button mat-menu-item [matMenuTriggerFor]="patientstudy">Patient Study...</button>
          <button mat-menu-item>Shared FUP...</button>
          <button mat-menu-item [matMenuTriggerFor]="externalprocess">External Process</button>
          <button mat-menu-item [matMenuTriggerFor]="deathmatch">Death Match</button>
          <button mat-menu-item>Options...</button>
          <button mat-menu-item>Single FUP Letter</button>
        </mat-menu>

        <mat-menu #filteredresource="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #letterslabels="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #patientstudy="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #externalprocess="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #deathmatch="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>
      </li>
      <li class="nav-item active">
        <button mat-button [matMenuTriggerFor]="mreports" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Reports</button>

        <mat-menu #mreports="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item [matMenuTriggerFor]="caselists">Case Lists</button>
          <button mat-menu-item>Case Counts</button>
          <button mat-menu-item [matMenuTriggerFor]="sitetable">Site Table</button>
          <button mat-menu-item>Xtabs...</button>
          <button mat-menu-item>Treatment</button>
          <button mat-menu-item>Survival</button>
          <button mat-menu-item>Frequency Tabulation...</button>
          <button mat-menu-item>PCE</button>
          <button mat-menu-item>Batch Edit Report</button>
          <button mat-menu-item [matMenuTriggerFor]="clinicaltrials">Clinical Trials</button>
          <button mat-menu-item [matMenuTriggerFor]="abstractprinting">Abstract Printing</button>
          <button mat-menu-item [matMenuTriggerFor]="hipaatracking">HIPAA Tracking</button>
          <button mat-menu-item [matMenuTriggerFor]="compilancereports">Compilance Reports</button>
          <button mat-menu-item [matMenuTriggerFor]="registrymanagement">Registry Management</button>
          <button mat-menu-item>File Manager...</button>
          <button mat-menu-item>Statistical Subfile Manager...</button>
          <button mat-menu-item [matMenuTriggerFor]="rqrs">RQRS</button>
          <button mat-menu-item>Data Conversion...</button>
          <button mat-menu-item [matMenuTriggerFor]="nci">NCI</button>
        </mat-menu>

        <mat-menu #caselists="matMenu">
          <button mat-menu-item [routerLink]="['/run-case']" routerLinkActive="router-link-active">Run Case List</button>
          <button mat-menu-item>Manage Case Lists</button>
        </mat-menu>

        <mat-menu #sitetable="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #clinicaltrials="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #abstractprinting="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #hipaatracking="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #compilancereports="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #registrymanagement="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #rqrs="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #nci="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mphysicians" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Physicians</button>

        <mat-menu #mphysicians="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item>Merge MD File</button>
          <button mat-menu-item>Edit MD Information</button>
          <button mat-menu-item [matMenuTriggerFor]="listmdinformation">List MD Information</button>
          <button mat-menu-item>Replace</button>
        </mat-menu>

        <mat-menu #listmdinformation="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mtools" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Tools</button>

        <mat-menu #mtools="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item>Install History</button>
          <button mat-menu-item>List Autocoding Labels </button>
          <button mat-menu-item>Memory Status</button>
          <button mat-menu-item>Merge Cases...</button>
          <button mat-menu-item>Change Password</button>
          <button mat-menu-item [matMenuTriggerFor]="security">Security</button>
          <button mat-menu-item [matMenuTriggerFor]="databaseutilities">Database Utilities</button>
          <button mat-menu-item>List File Versions</button>
          <button mat-menu-item>Choose Color Theme</button>
          <button mat-menu-item>Process Automatic Shutdown</button>
          <button mat-menu-item [matMenuTriggerFor]="userdefined">User Defined </button>
          <button mat-menu-item [matMenuTriggerFor]="dictionary">Dictionary</button>
          <button mat-menu-item>Options...</button>
        </mat-menu>

        <mat-menu #security="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #databaseutilities="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #dictionary="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>

        <mat-menu #userdefined="matMenu">
          <button mat-menu-item>Menue Sub 1</button>
          <button mat-menu-item>Menue Sub 2</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mwindow" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Window</button>

        <mat-menu #mwindow="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item class="border-0">Tile</button>
          <button mat-menu-item>Cascade</button>
          <button mat-menu-item>Arrange All</button>
        </mat-menu>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="mhelp" class="btn btn-link text-dark nounderline no-hover-effect" [disableRipple]="true" color="primary">Help</button>

        <mat-menu #mhelp="matMenu" overlapTrigger="false" class="mat-elevation-z4">
          <button mat-menu-item>Contents and Index</button>
          <button mat-menu-item>Configure</button>
          <button mat-menu-item>AskCNet Help</button>
          <button mat-menu-item>Support Website</button>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <button mat-menu-item>About...</button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>