.app-header {
  background: #FFF !important;
  height: 80px;
  border-bottom: 1px solid #efefef;
  .navbar-toggler {
    position: absolute;
    right: 10px;
  }
  .collapse.show {
    .menu-list {
      min-width: 300px;
      background: #FFF;
      padding: 10px;
      border-top: 1px solid;
      border-left: 1px solid;
      border-bottom: 1px solid;
      li{
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  }
  ul {
    position: absolute;
    right: 10px;
    li {
      button {
        font-family: myFont;
        font-size: 18px;
        color: #000 !important;
      }
      button:hover {
        font-weight: bold !important;
        color: #8d0085 !important;
        background: #FFF !important;
      }
    }
  }
  .app-logo {
    .app-logo-img {
      display: inline !important;
      margin-right: 10px;
    }
    .app-logo-text{
      font-weight: bold;
    }
  }

  .nounderline {
    text-decoration: none !important
  }

  .mat-menu-item {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
  }

  .btn{
    font-weight: 500 !important;
    font-size: 17px;
    line-height: 25px;
    margin-top: 2px !important;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.mat-menu-panel {
  background-color: #fff !important;
  margin-top: 25px;
  min-width: 300px !important;
}
.mat-menu-content:not(:empty) {
  background: #FFF !important;
}
button:focus, button:hover{
  outline: none !important;
  background-color: aliceblue !important;
}


