.nounderline {
    text-decoration: none !important
  }

  .mat-menu-item {
      font-size: 13px;
      line-height: 38px;
      height: 38px;
  }

  button:focus{
outline: none !important;
  }
  .mat-menu-panel {
  background-color: #f0f0f0;
  }