
    <div class="row align-items-center text-left status m-0">
      <div class="col-md-2 mb-0 border border-secondary">
        <p class="mb-0">Database : TRN</p>
      </div>
      <div class="col-md-2 mb-0 border border-secondary">
        <p class="mb-0">Hospital : MARQUETTE</p>
      </div>
      <div class="col border border-secondary">
        <p class="mb-0"># Admissions : 2584</p>
      </div>
    </div>

<!-- <footer class="footer">
 
  <div class="container text-center">
    <span class="text-muted">© 2018 Biztek Innovations Inc.
  </div>
</footer> -->