
    <div class="row align-items-center text-left status m-0">
      <div class="col-md-auto">
        <h6>Database : <span class="badge badge-secondary">TRN</span></h6>
      </div>
      <div class="col-md-auto">
        <h6>Hospital : <span class="badge badge-secondary">MARQUETTE</span></h6>
      </div>
      <div class="col-md-auto">
        <h6>Admissions :  <span class="badge badge-secondary">2584</span></h6>
      </div>
    </div>

<footer class="footer">
 
  <div class="container text-center">
    <span class="text-muted">© 2017 Biztek Innovations Inc.</span>
  </div>
</footer>