<div class="container-fluid h-custom">
  <div class="row h-custom justify-content-center align-items-center">
    <div class="card">
      <div class="row m-0 bg-white p-1">
        <img src="/src/resources/logo.png" width="16px" height="16px">
        <p class="mb-0 ml-2 w-auto">Control List Selection</p>
        <button class="closebtn mr-3 mb-1" [routerLink]="['/home']" routerLinkActive="router-link-active">
          <i class="fas fa-times text-secondary"></i></button>
      </div>
      <div class="row m-0">
        <div class="col-10">
          <div class="row m-0 mb-2 mt-3">
            <p class="mb-1 ">
              Facility:
            </p>
            <select class="ml-2 w-110">
              <option *ngFor="let facility of facilityList" [value]="facility">{{facility}}</option>
            </select>
            <input type="checkbox" class="ml-4 mr-1 w-auto outline-0">
            <p class="mb-0 w-auto ml-0 text-muted">
              All
            </p>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1   ">
              Report Fromat:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let report of reportList" [value]="report">{{report}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Method:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let method of methodList" [value]="method">{{method}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Pass:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let pass of passList" [value]="pass">{{pass}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Month:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let month of monthList" [value]="month">{{month}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Sort order:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let sort of sortList" [value]="sort">{{sort}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Letter Type:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let letter of letterList" [value]="letter">{{letter}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1  ">
              Medical Record Select:
            </p>
            <select class="ml-2 w-40">
              <option *ngFor="let medical of medicalList" [value]="medical">{{medical}}</option>
            </select>
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1 ">
              Range:
            </p>
            <input type="text" class="ml-2 mr-1 w-110">
            <p class="w-auto ml-3 mb-1">To</p>
            <input type="text" class="ml-3 mr-1 w-110">
          </div>
          <div class="row m-0 mb-2">
            <p class="mb-1 text-muted ">
              Last Year Only?
            </p>
            <input type="checkbox" class="ml-2 mr-1 w-auto outline-0 text-muted">
          </div>
        </div>
        <div class="col p-0 border-left">
          <div class="row mx-0 mt-1 ml-2">
            <button class="mbutton w-90"><i class="fas fa-check mr-2 text-success"></i><u>O</u>K</button>
            <button class="mbutton w-90 mt-2"><i class="fas fa-times mr-2 text-danger"></i><u>C</u>ancel</button>
            <button class="mbutton w-90 mt-2"><i class="fas fa-question mr-2 text-info "></i><u>H</u>elp</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>