<!-- <div class="col m-0 p-0" style="overflow:hidden">
  <nav class="navbar navbar-expand-lg navbar-light bg-light px-1 py-0" style="background-color: #cfc9c4a8 !important;height: 25px;">
    <a class="navbar-brand p-0 align-text-bottom" href="#" style="font-weight: 600;font-size: 14px;">
      <img src="/src/resources/logo.png" width="20" alt="">
      CNExt</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col"></div>
    <button class="bg-secondary" type="submit"><i class="fas fa-window-minimize text-white"></i></button>
    <button class="bg-secondary" type="submit"><i class="fas fa-window-restore text-white "></i></button>
    <button class="bg-danger" type="submit" style="width: 36px;"><i class="fas fa-times text-white "></i></button>
  </nav> -->
  <app-header></app-header>
  <!-- <app-header></app-header> -->
  <!-- <app-view-case></app-view-case>
  <app-footer></app-footer> -->
<!-- </div> -->
