<!-- 
   View Find and filter component
   1. Find  
      1.1 input fields 
      1.2 tabel
   2. Filter

-->
<div class="row m-0">
  <div class="col p-0" style="overflow-y: scroll;height: 650px;background-color: #f0f0f0; border-right: 2px solid #a0a0a0;">
    <ul class="nav nav-tabs pt-3 pl-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="fieldsearch-tab" data-toggle="tab" href="#fieldsearch" role="tab" aria-controls="abstract"
          aria-selected="true">Field Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="edit"
          aria-selected="false">Filter</a>
      </li>
    </ul>
    <!-- 1  -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="fieldsearch" role="tabpanel" aria-labelledby="fieldsearch-tab">
        <div class="example-small-box mat-elevation-z4" style="width: 99%; display: table;" >
          <!-- 1.1 -->
          <div class="div-display-table">

            <div style="width: 380px; display: table-cell;">

              <p class="cnext-bold-fond" style="margin-left: 100px;"> <b>Search for</b></p>
              <ul>
                <li>
                  &nbsp;&nbsp;&nbsp;
                  Last ,First <input type="text" class="input-last-firt">
                </li>
                <li>
                  Accession #
                  <input type="text" class="input-common">
                </li>
                <li>
                  Med Rec No
                  <input type="text" class="input-common">
                </li>
              </ul>
            </div>
            <div class="div-display-table" >
              
              <p class="cnext-bold-fond"> <b>Sort #:</b></p>
              <ul>
                <li>
                  <input type="text" class="input-small">
                  <button class="buttom-common" style="width:100px;">
                    <img src="assets/binoculars.png" width="20" height="13"> Find
                  </button>

                  <input type="number" style="width:40px !important;height: 23px;margin-left:15px;">

                  <span style="margin-left:10px"> Birth Date
                    <input type="text" style="height: 23px;margin-left: 5px"></span>
                  <input type="text" class="input-small2">

                </li>
                <li style="margin-top:-.5px">
                  <input type="text" class="input-small">

                  <mat-checkbox style="margin-left: 16px">Suspense case only</mat-checkbox>

                  <span style="margin-left:33px">
                    SSN<input type="text" style="height: 23px;margin-left: 10px">
                  </span>

                  <input type="text" class="input-small2">
                </li>
                <li style="margin-top:-.5px">
                  <input type="text"  class="input-small">


                  <button type="reset" class="buttom-common">
                    <img src="assets/img_259125.png" width="15" height="10">
                    Clear All
                  </button>

                  <span style="margin-left:85px">
                    Facility
                    <mat-select style="margin-left: 10px;width:203px;" class="matselect" placeholder="Toppings"
                      [formControl]="toppings" multiple>
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </span>

                  <input type="text" class="input-small2">

                  <mat-checkbox style="margin-left:20px">All</mat-checkbox>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <!-- 1.2 -->
        <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-balham" [enableSorting]="true"
          [enableFilter]="true" [enableColResize]=true [rowData]="rowData" [columnDefs]="columnDefs"    
          (rowClicked)="onRowClicked()" rowSelection="multiple">
        </ag-grid-angular>
      </div>
      <!-- 2 -->
      <div class="tab-pane fade" id="filter" role="tabpanel" aria-labelledby="filter-tab">
        <div>
          <div class="example-small-box mat-elevation-z4" style="width: 99%; display: table;">
            <ul>
              <li style="margin-top:5px;">
                Recourd source:
                <mat-select class="matselect" placeholder="Record" [formControl]="record">
                  <mat-option *ngFor="let record of recordList" [value]="record">{{record}}</mat-option>
                </mat-select>
              </li>
              <li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                File/Sub-File:
                <mat-select class="matselect" placeholder="File/ Sub-File"
                  [formControl]="file">
                  <mat-option *ngFor="let file of fileList" [value]="file">{{file}}</mat-option>
                </mat-select>

                <button type="reset" class ="button-filtertab" style="margin-left: 1%">Properties
                </button>
                &nbsp; &nbsp;
                <mat-checkbox style="margin-top:25px;">Basic</mat-checkbox>

              </li>
              <li>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                Facility:

                <mat-select class="matselect" placeholder="Facility"
                  [formControl]="toppings" multiple>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
                <mat-checkbox style="margin-left:1%;;">All</mat-checkbox>
              </li>
              <li>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                Sort by:

                <mat-select class="matselect" placeholder="Sort by" [formControl]="sortby" style="margin-left: 5px;">
                  <mat-option *ngFor="let sortby of sortbyList" [value]="sortby">{{sortby}}</mat-option>
                </mat-select>


                <button type="reset"  class ="button-filtertab" style="margin-left: 5%">
                  <img src="assets/tick.png" width="15" height="10">Execute
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
