<!-- 
   View Find and filter component
   1. Find  
      1.1 input fields 
      1.2 tabel
   2. Filter

-->

<div class="bg-light">
  <a href="#" class="ml-0"><i class="fas fa-folder "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-folder-open "></i></a>
  <a href="#"><i class="fas fa-image"></i></a>
  <a href="#"><i class="fas fa-images  "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-image  "></i></a>
  <a href="#"><i class="fas fa-print  "></i></a>
  <a href="#"><i class="fas fa-columns"></i></a>
  <a href="#"><i class="fas fa-newspaper  "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-file-alt  "></i></a>
  <a href="#"><i class="fas fa-calculator  "></i></a>
  <a href="#"><i class="fas fa-list  "></i></a>
  <a href="#"><i class="fas fa-check text-danger "></i></a>
  <a href="#"><i class="fas fa-question text-success "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-clipboard-list  "></i></a>
  <a href="#"><i class="fas fa-link  "></i></a>
  <a href="#"><i class="fas fa-unlink  "></i></a>
  <a href="#"><i class="fas fa-key  "></i></a>
  <a href="#"><i class="fas fa-minus "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-plus  "></i></a>
  <a href="#"><i class="fas fa-print "></i></a>
  <a href="#"><i class="fas fa-file-archive  "></i></a>
  <a href="#" class="mr-3"><i class="fas fa-sync-alt  "></i></a>
  <a href="#"><i class="fas fa-times text-danger"></i></a>
  <a href="#"><i class="fas fa-question  text-warning"></i></a>
</div>

<div class="row m-0">
  <div class="col p-0" style="overflow-y: scroll;height: 650px;background-color: #f0f0f0; border-right: 2px solid #a0a0a0;">
    <ul class="nav nav-tabs mt-1 pl-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="fieldsearch-tab" data-toggle="tab" href="#fieldsearch" role="tab" aria-controls="abstract"
          aria-selected="true">Field Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="filter-tab" data-toggle="tab" href="#filter" role="tab" aria-controls="edit"
          aria-selected="false">Filter</a>
      </li>
    </ul>
    <!-- 1  -->
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="fieldsearch" role="tabpanel" aria-labelledby="fieldsearch-tab">
        <div class="row m-0 my-1">
          <p class="font-weight-bold font-italic ttext mlc mb-0 mr-4">
            Search for:
          </p>
          <p class="font-weight-bold font-italic ttext ml-5 mb-0">
            Sort #:
          </p>
        </div>
        <div class="row m-0 mb-2 mt-2">
          <p class="mb-1 ml-5 w-auto">
            Last, First
          </p>
          <input type="text" class="ml-1">
          <input type="text" class="ml-3 sinput">
          <button class="mbutton px-1 py-0 ml-3"><i class="fas fa-binoculars text-dark border-0"></i>Find</button>
          <select class="ml-2 custom-select p-0" style="width: 50px;">
            <option value="1">10</option>
            <option value="1">20</option>
            <option value="1">30</option>
            <option value="1">40</option>
            <option value="1">50</option>
          </select>
          <p class="mb-1 w-auto" style="margin-left: 2.1rem!important;">
            Birth Date
          </p>
          <input type="text" class="ml-1 w2">
          <input type="text" class="sinput ml-2">
        </div>
        <div class="row m-0 mb-2 mt-2">
          <p class="mb-1 w-auto" style="margin-left: 2.1rem!important;">
            Accession #
          </p>
          <input type="text" class="ml-1 w2">
          <input type="text" class="sinput" style="margin-left: 3.5rem!important;">
          <input type="checkbox" class="ml-3 w-auto outline-0 text-muted" checked="checked">
          <p class="mb-0 w-auto ml-1 text-muted">
            Suspense cases only
          </p>
          <p class="mb-1 w-auto" style="margin-left: 3.8rem!important;">
            SSN
          </p>
          <input type="text" class="ml-1 w2">
          <input type="text" class="sinput ml-2">
        </div>
        <div class="row m-0 mb-2 mt-2">
          <p class="mb-1 ml-4 w-auto" style="margin-left: 2rem!important;">
            Med Rec No
          </p>
          <input type="text" class="ml-1 w2">
          <input type="text" class="sinput" style="margin-left: 3.4rem!important;">
          <button class="mbutton px-1 py-0 ml-3"><i class="fas fa-eraser text-dark border-0"></i><u>C</u>lear All</button>
          <p class="mb-1 w-auto" style="margin-left: 3.5rem">
            Facility:
          </p>
          <select class="ml-2" style="width: 200px;">
            <option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</option>
          </select>
          <input type="text" class="sinput ml-2">
          <input type="checkbox" class="ml-4 mr-1 w-auto outline-0 text-muted">
          <p class="mb-0 w-auto ml-0 text-muted">
            All
          </p>
        </div>
        <!-- 1.2 -->
        <ag-grid-angular style="width: 100%; height: 300px;" class="ag-theme-balham" [enableSorting]="true"
          [enableFilter]="true" [enableColResize]=true [rowData]="rowData" [columnDefs]="columnDefs" (rowClicked)="onRowClicked()"
          rowSelection="multiple">
        </ag-grid-angular>
      </div>
      <!-- 2 -->
      <div class="tab-pane fade" id="filter" role="tabpanel" aria-labelledby="filter-tab">
            <div class="row m-0 mb-2 mt-2">
              <p class="mb-1 ml-5 w-auto">
                Record source:
              </p>
             <select class="ml-2 p-0" style="width: 230px;">
                <option *ngFor="let record of recordList" [value]="record">{{record}}</option>
              </select>
            </div>
            <div class="row m-0 mb-2 mt-2">
                <p class="mb-1 w-auto" style="margin-left: 3.1rem!important;">
                  Filter/Sub-File:
                </p>
                <select class="ml-2 p-0" style="width: 230px;">
                    <option *ngFor="let file of fileList" [value]="file">{{file}}</option>
                  </select>
                <button class="mbutton px-1 py-0 ml-3"><i class="fas fa-sliders-h border-0"></i>Properties</button>               
                <input type="checkbox" class="ml-4 mt-1 mr-1 w-auto outline-0 text-muted">
                <p class="mb-0 mt-1 w-auto ml-0 text-muted">
                  Basic
                </p>
              </div>
            <div class="row m-0 mb-2 mt-2">
              <p class="mb-1 w-auto" style="margin-left: 5.4rem!important;">
                Facility:
              </p>
              <select class="ml-2 w2">
                  <option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</option>
                </select>
              <input type="checkbox" class="ml-3 mt-1 w-auto outline-0 text-muted">
              <p class="mb-0 w-auto ml-1 mt-1 text-muted">
                All
              </p>
            </div>
            <div class="row m-0 mb-2 mt-2">
                <p class="mb-1 w-auto" style="margin-left: 5.3rem!important;">
                  Sort by:
                </p>
                <select class="ml-2 p-0 w2 mr-5">
                    <option *ngFor="let sortby of sortbyList" [value]="sortby">{{sortby}}</option>
                  </select>
                <button class="mbutton px-1 py-0 ml-5"><i class="fas fa-check text-success border-0"></i>Execute</button>
              </div>
            
            <!-- 1.2 -->
            <ag-grid-angular style="width: 100%; height: 200px;" class="ag-theme-balham" [enableSorting]="true"
              [enableFilter]="true" [enableColResize]=true [rowData]="rowData" [columnDefs]="columnDefs" (rowClicked)="onRowClicked()"
              rowSelection="multiple">
            </ag-grid-angular>
      </div>
    </div>
    <app-footer></app-footer>