
  .fas, .fab{
    font-size: 20px;
    border: 1px solid #cccccc;
    padding: 3px 6px;
    background-color: #F0F0F0;
    color: #777777;
  }
  a, .nav-link{
    color: black;
  }
  .nav-tabs{
    background-color: #F0F0F0;
  }
  .nav-link.active{
    font-weight: bold;
    background-color: #c1c1c1;
  }
  .nav-link{
    border-right: 3px solid #c1c1c1;
    border-top: 3px solid #c1c1c1;
    border-left: 3px solid #c1c1c1;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 700 !important;
  }
  input{
    width: 190px;
    background-color: #ffffff;
    font-size: 12px;
    outline: 2px solid #d2d2d2;
    height: 20px;
} 
.sinput{
    width: 15px;
    background-color: #ffffff;
    font-size: 12px;
    outline: 2px solid #d2d2d2;
    height: 20px;
}
p{
  font-size: 12px;
}
button:focus, button:hover{
  outline: none !important;
  background-color: transparent !important;
    }

    select{
      width: 250px;
      outline: 2px solid #d2d2d2;
      font-size: 12px;
      height: 20px;
  } 

  .mbutton{
    font-size: 12px;
    background-color: #f0f0f0;
}
.mbutton .fas{
    font-size: 14px;
}
.outline-0{
  outline: 0px;
}
.ttext{
  font-size: 13px !important;
}
.mlc {
  margin-left: 10rem!important;
}
.w2{
  width: 150px !important;
}