<div class="section1 row pb-5 pt-5 app-open-db">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 md-offset-2 col-lg-6 offset-lg-3">
    <div class="row content app-form shadow-lg mb-5">
        <div class="col-12 p-3 bg-theme">
            <span class="title text-white font-weight-bold">Create New Case Database</span>
            <button class="pull-right text-white bg-theme border-0" [routerLink]="['/home']" routerLinkActive="router-link-active">
              <i class="fa fa-times fa-2x"></i></button>
        </div>

        <mat-form-field class="col-12 mt-4">
          <mat-select placeholder="Provider">
            <mat-option value="4.0">Microsoft HET OLED8 4.0</mat-option>
            <mat-option value="5.0">Microsoft HET OLED8 5.0</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12 mt-3">
          <input matInput type="text" [(ngModel)]="server" placeholder="Server">
          <button mat-button *ngIf="server" matSuffix mat-icon-button aria-label="Clear" (click)="server=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 mt-3">
          <input matInput type="text" [(ngModel)]="fileId" placeholder="Case File ID">
          <button mat-button *ngIf="fileId" matSuffix mat-icon-button aria-label="Clear" (click)="fileId=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <mat-select placeholder="Select a Facility">
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
            <mat-option value="4.0">21st Cent Onc Indio</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-8 mt-3">
          <input matInput type="text" [(ngModel)]="hospital" placeholder="Default Hospital">
          <button mat-button *ngIf="hospital" matSuffix mat-icon-button aria-label="Clear" (click)="hospital=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 mt-3">
          <input matInput type="text" [(ngModel)]="shortname" placeholder="Short Name">
          <button mat-button *ngIf="shortname" matSuffix mat-icon-button aria-label="Clear" (click)="shortname=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="date" [(ngModel)]="referenceDate" placeholder="Reference Date">
          <button mat-button *ngIf="referenceDate" matSuffix mat-icon-button aria-label="Clear" (click)="referenceDate=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="text" [(ngModel)]="cocfin" placeholder="COC Fin">
          <button mat-button *ngIf="cocfin" matSuffix mat-icon-button aria-label="Clear" (click)="cocfin=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="date" [(ngModel)]="transmitDate" placeholder="Begin Transmit Date">
          <button mat-button *ngIf="transmitDate" matSuffix mat-icon-button aria-label="Clear" (click)="transmitDate=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-radio-group class="col-12 mt-3">
          <label class="mr-5">ACOS approved:</label> 
          <mat-radio-button value="1" class="mr-4">No</mat-radio-button>
          <mat-radio-button value="2" class="mr-4">Yes</mat-radio-button>
          <mat-radio-button value="3">Not Set</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="date" [(ngModel)]="natProvider" placeholder="Nat Provider Index Fin">
          <button mat-button *ngIf="natProvider" matSuffix mat-icon-button aria-label="Clear" (click)="natProvider=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="date" [(ngModel)]="regionNumber" placeholder="Region Number">
          <button mat-button *ngIf="regionNumber" matSuffix mat-icon-button aria-label="Clear" (click)="regionNumber=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field class="col-12 col-sm-4 mt-3">
          <input matInput type="date" [(ngModel)]="reportArea" placeholder="Report Area">
          <button mat-button *ngIf="reportArea" matSuffix mat-icon-button aria-label="Clear" (click)="reportArea=''">
            <mat-icon><span class="fa fa-times"></span></mat-icon>
          </button>
        </mat-form-field>
        
        <div class="col-12 text-right pb-5 mt-4 col-12">
          <button class="btn form-btn ml-3"><i class="fas fa-check mr-2 text-success"></i><u>O</u>K</button>
          <button class="btn form-btn ml-3"><i class="fas fa-times mr-2 text-danger"></i><u>C</u>ancel</button>
          <button class="btn form-btn ml-3"><i class="fas fa-question mr-2 text-info "></i><u>H</u>elp</button>
        </div>
    </div>
  </div>
</div>