<div class="section1 row pb-5 pt-4 app-home">
  <div class="container no-padding">
    <div class="row">
      <div class="col-12 col-sm-4 mt-2">
        <div class="col-12 home-block p-3">
          <div class="title">Software Solutions</div>
          <div class="content mt-3">C/NET Solutions gives registrars the complete cancer data management system they
            need
            to
            run an efficient cancer registry and meet the standards of accrediting agencies.
          </div>
          <div class="mt-3"><a href="javascript:void(0);" class="app-link uppercase" data-toggle="modal" data-target="#softwareModal">Read
              More..</a></div>
        </div>
      </div>

      <div class="col-12 col-sm-4 mt-2">
        <div class="col-12 home-block p-3">
          <div class="title">Why Choose CNExT?</div>
          <div class="content mt-3">Need a cancer registry program to assist with your recordkeeping? If so, view the
            main
            reasons that C/NET Solutions’ CNExT software is the choice of over 800 hospitals!</div>
          <div class="mt-3"><a href="javascript:void(0);" class="app-link uppercase" data-toggle="modal" data-target="#cnextModal">Read
              More..</a></div>
        </div>
      </div>

      <div class="col-12 col-sm-4 mt-2">
        <div class="col-12 home-block p-3">
          <div class="title">Call 1-800-366-2638</div>
          <div class="content mt-3">For additional information on CNExT cancer registry management software, contact a
            member
            of our staff. We are glad to assist and will return your message promptly.</div>
          <div class="mt-3"><a href="javascript:void(0);" class="app-link uppercase" data-toggle="modal" data-target="#contactModal">Read
              More..</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section2 mt-5">
    <div class="row py-4">
      <div class="col-12 text-theme big-title text-center">Products and Services</div>
      <div class="col-12 col-sm-6 col-lg-3 mt-3">
        <div class="product-block col-12 p-3">
          <div class="title">Registry Software</div>
          <div class="content">CNExT Registry is our core Windows registry product, and the basis for our expanded
            Enterprise, Multi-Hospital and Cancer Alert System products. </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-3">
        <div class="product-block col-12 p-3">
          <div class="title">Scalable Solution</div>
          <div class="content">Are you a single community hospital or large research institute? We can provide a solution for you. </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-3">
        <div class="product-block col-12 p-3">
          <div class="title">Multi-Hospital Software</div>
          <div class="content">Multi-hospital registrars, rejoice! CNExT can handle your complex registry software needs.</div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-3 mt-3">
        <div class="product-block col-12 p-3">
          <div class="title">Cancer Alert System</div>
          <div class="content">Identifying all hospital cancer cases can be tedious and costly work. Let C/NET Solutions’ new Cancer Alert System do it for you! </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="softwareModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme" id="exampleModalLabel">C/NET Solutions Cancer Registry Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        C/NET Solutions gives registrars the complete cancer data management system they need to run an efficient
        cancer registry and meet the standards of accrediting agencies. We offer a variety of software packages and
        add-on modules, designed for facilities of all sizes and situations: CNExT Registry, CNExT Multi-Hospital, and
        the Cancer Alert System.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn theme-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cnextModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme" id="exampleModalLabel">C/NET Solutions Cancer Registry Application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        There are countless reasons to opt for CNExT’s cancer data management system and we’ve highlighted some of the
        most convincing arguments below. To learn more, please click here to view our software options or click here to
        speak with a representative today.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn theme-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-theme" id="exampleModalLabel">Contact C/NET Solutions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body content">
        Thank you for your interest in C/NET Solutions! To contact a member of our staff, please call 800-366-2638 or
        complete the form below. Your message is important to us and we will respond to your request(s) as soon as
        possible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn theme-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>