<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Field Name</th>
      <th scope="col">Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #1</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #2</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #3</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #4</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #5</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #6</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #7</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #8</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #9</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
    <tr>
      <td colspan="2" class="table-active">Case: Physicians #10</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician, Role</td>
      <td>FOLLOWING, CURRENT [04]</td>
    </tr>
    <tr class="font-italic">
      <td class="text-danger">Physician</td>
      <td>WONDERLY, RICHARD K [00012174]</td>
    </tr>
  </tbody>
</table>