.table-active, .table-active>td, .table-active>th {
    background-color: #A0A0A0;
    color: #ffffff;
  }
  
  tr{
    background-color: #EFEFEF;
  }
  .table-bordered{
    border: 3px solid #A0A0A0;
  }
  .table thead th, td {
    padding: 3px !important;
    font-size: 14px;
  }